.input {
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    & > input {
        width: 380px;
        min-height: 54px;
        border: 0.5px solid rgba(208, 207, 207, 1);
        outline: none;
        border-radius: 4px;

        padding-left: 16px;
        font-size: 18px;
        background-color: rgb(247, 247, 247);
    }
    &_error {
        font-size: 12px;
        color: rgba(203, 61, 64, 1);
    }
    &_helpText {
        font-size: 12px;
        color: rgba(126, 126, 126, 1);
    }
}
.disabled > input {
    border: 2px solid rgba(203, 61, 64, 1);
}

@media (max-width: 400px) {
    .input {
        & > input {
            width: 330px;
        }
    }
}
