.card {
    max-width: 282px;
    height: 254px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;

    &_image {
        background: url(../assets/photo-cover.svg);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        & > img {
            border-radius: 50%;
        }
    }
    &_name {
        text-align: center;
    }
    &_info {
        &__vocation,
        &__mail,
        &__phoneNumber {
            text-align: center;
        }
    }
}

@media (max-width: 510px) {
    .card {
        max-width: 325px;
        min-width: 324px;
    }
}
